/** CSS STYLE **/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

body {
  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;

  background-color: #fff;
}

.bc-primary {
  background-color: #fe8a02;
}

.bc-white50 {
  background: #d7ccc0;
}

.bc-white {
  background: white;
}

.bc-light {
  background: #f5f4f0;
}

.tc-primary-dark {
  background: #42413c;
}

.bc-dark50 {
  background: #908d8b;
}

.bc-brown {
  background: #b09a81;
}

.bc-blue {
  background: #1085c5;
}

.tc-primary {
  color: #fe8a02;
}

.tc-white {
  color: #fff;
}

.tc-dark50 {
  color: #908d8b;
}

.tc-dark {
  color: #2a2626;
}

.tc-brown {
  color: #b09a81;
}

.tc-white50 {
  color: #d7ccc0;
}

.font-neucha {
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
  line-height: 1.2em;
}

h3 {
  font-size: 34px;
  line-height: 1.2em;
}

h1,
h2,
h3 {
  position: relative;
  z-index: 1;

  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: 'Neucha', sans-serif;
  font-style: normal;
}

.h3-description {
  padding: 5px 10px;

  font-weight: 700;

  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.text-24px {
  font-size: 24px;
}

.text-34px {
  font-size: 34px;
}

.text-14px {
  font-size: 14px;
}

.text-18px {
  font-size: 18px;
}

.text-12px {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.button-style {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.button-style:hover {
  background-color: #ea7600;
}

.button-one {
  margin-top: 30px;
  padding: 12px 24px 12px 24px;
}

.text-button {
  color: #fff;
  font-weight: 700;

  font-size: 16px;
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.al-item-center {
  align-items: center;
}

.mp-0 {
  margin: 0;
  padding: 0;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-10 {
  margin-top: -10px;
  margin-bottom: -10px;
}

.mt-0 {
  margin-top: 0;
}

.mt-185 {
  margin-top: 185px;
}

.mt-100 {
  margin-top: 100px;
}

.pt-20 {
  padding-top: 20px;
}

.p-55 {
  padding: 55px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-55 {
  padding-right: 55px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-38 {
  margin-top: 38px;
}

.mt-65 {
  margin-top: 65px;
}

.jc-center {
  justify-content: center;
}

header,
section,
footer {
  margin: auto;
  overflow-x: hidden;
}

.background {
  position: relative;
}

.background::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

.header-image {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  height: 525px;
  margin-top: 55px;

  margin-right: -255px;
}

.content {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding: 100px 15px;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: calc(50% - 30px);
  margin: 0 15px;
}

.col-30 {
  box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  margin: 10px 15px 10px 15px;
}

.col-flex {
  margin: 0 15px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.no-wrap {
  flex-wrap: nowrap;
}

.cards-head {
  padding: 0;

  white-space: nowrap;

  background-color: transparent;
}

.cards-head:hover {
  background-color: transparent;
}

.cards {
  padding: 24px;

  background: #f5f4f0;
}

.cards:hover {
  color: rgb(255, 255, 255);

  background-color: #fe8a02;
}

.cards:hover h3 {
  color: rgb(255, 255, 255);
}

.video {
  position: relative;

  display: block;
  margin: auto;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-3 {
  margin-top: -200px;
  padding-top: 100px;
}

.link-cards {
  color: #42413c;
  text-decoration: none;
}

#navigation h2 {
  font-size: 52px;
}

.number {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 60px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.grid {
  display: flex;
  margin: 0 -15px;
}

.images {
  vertical-align: middle;
}

.description-head {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 0 5px 10px;

  font-size: 14px;
}

.description-head-text-style {
  font-weight: 700;
  text-transform: uppercase;
}

.description-head-text-white {
  color: #fff;
}

.description-head-text-brown {
  color: #b09a81;
}

.label-form {
  display: block;
}

.input-style {
  color: #757575;
  font-size: 13px;
  font-style: 'Open sans';

  border: 1px solid #e3e3e3;
  border-radius: 0;
}

.input-position {
  display: inline;
  box-sizing: border-box;

  width: calc(100% - 70px);
  height: 50px;

  padding: 15px;
}

.input-form:active {
  border: 1px solid #ca0c0c;
  border-radius: 0;
}

.button-send {
  position: relative;

  float: right;
  width: 70px;
  height: 50px;

  margin: 0;
}

.button-send::before {
  position: absolute;

  width: 24px;

  height: 24px;

  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);

  content: '';
}

.text-footer a {
  color: #1085c5;
}
