/** CSS STYLE **/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

/* Стили для тегов  */

body {
  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;

  background-color: #fff;
}

img {
  max-width: 100;
  height: auto;

  vertical-align: middle;
}

h1,
.h1 {
  font-size: 72px;
  line-height: 1.2em;
}

h2,
.h2 {
  font-size: 60px;
  line-height: 1.2em;
}

h3,
.h3 {
  font-size: 34px;
  line-height: 1.2em;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  position: relative;
  z-index: 1;

  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: 'Neucha', sans-serif;
  font-style: normal;
}

/* Стили сетки */

.row {
  display: flex;
  flex-wrap: wrap;
}

.margin-row {
  margin: 0 -15px;
}

.col {
  margin: 0 15px;
}

.col-vertial-offsets {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-horizontal-offset {
  margin-right: 15px;
  margin-left: 15px;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: calc(50% - 30px);
}

.col-30 {
  width: calc(100% / 3 - 30px);
}

/* Стили элеметнов */

.title-description {
  padding: 5px 10px;

  font-weight: 700;

  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.background-section::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

.header-image {
  position: absolute;
  top: 55px;

  right: -255px;

  display: block;
  height: 525px;
}

.container {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding: 100px 15px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.no-wrap {
  flex-wrap: nowrap;
}

.card {
  box-sizing: border-box;
  padding: 24px;

  background: #f5f4f0;
}

.card:hover {
  color: rgb(255, 255, 255);

  background-color: #fe8a02;
}

.card-title:hover {
  color: rgb(255, 255, 255);
}

.card:hover .card-title {
  color: rgb(255, 255, 255);
}

.video {
  position: relative;

  display: block;
  margin: auto;

  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.card-link {
  color: #42413c;
  text-decoration: none;
}

.card-number {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 60px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.grid {
  display: flex;
  margin: 0 -15px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.description-head {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 0 5px 10px;

  font-size: 14px;
}

.description-head-text-style {
  font-weight: 700;
  text-transform: uppercase;
}

.description-head-text-white {
  color: #fff;
}

.description-head-text-brown {
  color: #b09a81;
}

.input-style {
  width: 100%;

  padding: 15px;

  color: #757575;
  font-size: 13px;

  border: 1px solid #e3e3e3;
  border-radius: 0;
}

.input-form:active {
  border: 1px solid #ca0c0c;
  border-radius: 0;
}

.btn-send {
  width: 70px;
  height: 50px;
}

.btn-send::before {
  position: absolute;

  width: 24px;

  height: 24px;

  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);

  content: '';
}

.btn-reset {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px 12px 24px;

  color: #fff;
  font-weight: 700;

  font-size: 16px;
  text-transform: uppercase;

  text-decoration: none;

  cursor: pointer;
}

.btn-primary {
  color: #fff;

  background-color: #fe8a02;
}

.btn-primary:hover {
  background-color: #ea7600;
}

/* Атомарные стили */

.overflow-x-hidden {
  overflow-x: hidden;
}

.bc-primary {
  background-color: #fe8a02;
}

.bc-white50 {
  background-color: #d7ccc0;
}

.bc-white {
  background-color: white;
}

.bc-light {
  background-color: #f5f4f0;
}

.bc-primary-dark {
  background-color: #42413c;
}

.bc-dark50 {
  background-color: #908d8b;
}

.bc-brown {
  background-color: #b09a81;
}

.bc-blue {
  background-color: #1085c5;
}

.tc-primary {
  color: #fe8a02;
}

.tc-white {
  color: #fff;
}

.tc-dark50 {
  color: #908d8b;
}

.tc-dark {
  color: #2a2626;
}

.tc-brown {
  color: #b09a81;
}

.tc-white50 {
  color: #d7ccc0;
}

.tc-blue {
  color: #1085c5;
}

.fz-24 {
  font-size: 24px;
}

.fz-14 {
  font-size: 14px;
}

.fz-18 {
  font-size: 18px;
}

.fz-12 {
  font-size: 12px;
}

.fz-52 {
  font-size: 52px;
}

.text-center {
  text-align: center;
}

.al-item-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.pos-r {
  position: relative;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-38 {
  margin-top: 38px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-minus-200 {
  margin-top: -200px;
}

.mt-minus-10 {
  margin-top: -10px;
}

.mb-minus-10 {
  margin-bottom: -10px;
}

.p-0 {
  padding: 0;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-20 {
  padding-top: 20px;
}

.p-55 {
  padding: 55px;
}

.pr-55 {
  padding-right: 55px;
}

.pt-65 {
  padding-top: 65px;
}
