/** CSS STYLE **/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Neucha';
    src: url('../fonts/Neucha/Neucha-Regular.ttf');
}
body {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}
body {
    color: #2A2626;
}
.bg-color-white50 {
    background: #d7ccc0;
}
.bg-color-light {
    background: #f5f4f0;
}
.bg-color-primary {
    color: #fe8a02;
}
.text-color-white {
    color:#fff;
}
.text-color-dark50{
    color: #908D8B;
}
.bg-color-primary-dark {
    background: #42413c;
}
.bg-color-dark50 {
    background: #908d8b;
}
.bg-color-brown {
    background:  #b09a81;
}
.bg-color-blue {
    background:  #1085c5;
}
.font-neucha {
    font-family: 'Neucha';
    line-height: 1.2em;
}
.p-24px {
    font-size: 24px;
}
.p-padding-null {
    padding: 0;
    margin: 0;
}
/** Размер заголовков **/
h1 {
    font-size:72px;
    line-height: 1.2em;
}
h2 {
    font-size:60px;
    line-height: 1.2em;
}
h3 {
    font-size:34px;
    line-height: 1.2em;
}
/** Размер заголовков **/
/** Шрифт заголовков **/
h1,h2,h3 {
    font-family: Neucha;
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3 {
    position: relative;
    z-index: 1;
}
.text-center {
    text-align: center;
}
.pb-30 {
    padding-bottom: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
/** Шрифт заголовков **/

header, section, footer {
    margin: auto;
    overflow-x: hidden;
}
.background {
    position: relative;
}
.background::before {
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    opacity: 10%;
}
.header-image {
    height: 525px;
    position: absolute;
    display: block;
    top: 0;
    margin-top: 40px;
    margin-left: 250px;
}
.content {
    width: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
}
.flex {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    margin: 0 -15px;
}
.flex-wrap {
    flex-wrap:  wrap;
}
.column-100 {
    width: 100%;
    border: 1px solid green;
}
.column-50 {
    width: 50%;
    margin: 0 15px;
    border: 1px solid blue;
}
.column-30 {
    width: calc(100% / 3 - 30px);
    background-color: rgb(255, 255, 255);
    margin: 10px 15px 10px 15px;
    padding: 24px;
    box-sizing: border-box;
}
.column-30-head {
    white-space: nowrap;
    background-color: transparent;
    padding: 0;
}
.mt-130 {
    margin-top: 130px;
}
.button-one {
    background: #fe8a02;
    padding: 12px 24px 12px 24px;
    margin-top: 30px;
    border: 0; 
}
.button-one:hover {
    background-color: #EA7600;
}
.text-button {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    display: block;
    position: relative;
    margin: auto;
}
.section-3 {
    padding-top: 100px;
    margin-top: -200px;
}
#navigation h2 {
    font-size: 52px;
}
#navigation a {
    color:#42413C;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}
.column-30:hover h3 {
    color: rgb(255, 255, 255);
}
.column-30:hover p {
    color: rgb(255, 255, 255);
}
.column-30:hover {
    background-color: #fe8a02;
}
.column-30-head:hover {
    background-color: transparent;
}
.column-30-head h2 {
    font-size: 52px;
    padding 0;
    margin: 0;
}
.number {
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 0;
    font-family: Neucha;
    line-height: 1;
}
.p-24-lite-dark {
    font-size: 24px;
    color: #908d8b;
}
.p-34-dark {
    font-size: 34px;
    color: #2a2626;
}
.grid {
    display: flex;
    margin: 0 -15px;
}
.images {
    vertical-align: middle;
}
.description-head {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 5px 0 5px 10px;
}
.description-head-text-style {
    font-weight: 700;
    text-transform: uppercase;
}
.description-head-text-white {
    color: #fff;
}
.description-head-text-brown {
    color: #b09a81;
}